//Covergo App Theme
$color-primary: #12FFFF;
$color-primary-light: #00DEFF;
$color-primary-dark: #00B7FF;

// Color variables
$white-color: #ffffff;
$black-color: #000000;
$grey-light-color: #f0f0f0;
